li {
  list-style-type: none;
}

body {
  background-color: rgb(210, 210, 210);
  font-size: 15px;
}

h1 {
  font-family: 'Aldrich', sans-serif;
}


footer {
  background-image: url(../img/shoe_row.jpg);
  background-size: cover;
  height: 250px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  padding-bottom: 0;
  margin-bottom: 0;
  clear: both;
}

#subheading {
  font-size: 25px;
}

 #home_col {
   padding-right: 25%;
 }
